{
  "singleQuote": true,
  "printWidth": 60,
  "tabWidth": 2,
  "useTabs": false,
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json",
        "trailingComma": "none"
      }
    }
  ]
}
